<app-loading></app-loading>

<div class="main-wrapper">

    <app-header></app-header>

    <div class="pt-75 pb-75">

      <div class="container">

        <div class="row">

          <user-dashboard-sidebar class="col-lg-3 col-md-3 col-sm-12 mb-4"></user-dashboard-sidebar>

          <div class="col-lg-9 col-md-9 col-sm-12">

            <router-outlet></router-outlet>

          </div>

        </div>

      </div>

    </div>

    <app-footer></app-footer>
</div>

<app-mobile-header></app-mobile-header>


