<div class="product-area pb-70">
	<div class="custom-container">
		<div class="section-title-btn-wrap mb-35">
			<div class="section-title-1">
				<h2> جدید ترین مقالات </h2>
			</div>
			<div class="btn-style-2">
				<a routerLink="/article">مشاهده همه <i class="fa fa-arrow-left"></i></a>
			</div>
		</div>
		<div class="product-slider-active-1 nav-style-2 nav-style-2-modify-2" *ngIf="articles$ | async">

			<ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">

				<div *ngFor="let article of (articles$ | async)" class="blog-wrap-2 mb-30">
					<div class="blog-img-2">
						<a [routerLink]="'/article/' + article.slug">
							<img [src]="baseArticlePath + article.imagePath" [alt]="article.imageAlt" [title]="article.imageTitle">
						</a>
						<div class="blog-tag-2">
							<a [routerLink]="'/article-category/' + article.categoryId"> {{article.category}} </a>
						</div>
					</div>
					<div class="blog-content-2">
						<div class="blog-meta-2">
							<ul>
								<li><i class="fa fa-calendar"></i>{{ article.creationDate }}</li>
							</ul>
						</div>
						<h3><a [routerLink]="'/article/' + article.slug"> {{article.title }} </a></h3>
						<h5>{{article.summary}}</h5>
						<div class="blog-btn">
							<a [routerLink]="'/article/' + article.slug"> ادامه مطلب<i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>

			</ngx-slick-carousel>
		</div>
	</div>
</div>