<section class="slider_section slider_section_three mb-70">
	<div class="slider_area owl-carousel">
		<div class="single_slider d-flex align-items-center" data-bgimg="/assets/img/slider/slider4.jpg">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="slider_content">
							<h1>طراحی زیبا</h1>
							<h2>تلویزیون 85 اینچ</h2>
							<p>پیشنهاد ویژه <span>20% تخفیف</span> این هفته</p><a class="button" href="shop.html">اکنون بخرید</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single_slider d-flex align-items-center" data-bgimg="/assets/img/slider/slider3.jpg">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="slider_content">
							<h1>عجله کنید!</h1>
							<h2>محصولات برتر سال</h2>
							<p>پیشنهاد ویژه <span>20% تخفیف</span> این هفته</p><a class="button" href="shop.html">اکنون بخرید</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>