<div class="product-area pb-70">
	<div class="custom-container">
		<div class="section-title-btn-wrap mb-35">
			<div class="section-title-1">
				<h2> جدید ترین محصولات </h2>
			</div>
			<div class="btn-style-2">
				<a href="#">مشاهده همه محصولات <i class="fa fa-arrow-left"></i></a>
			</div>
		</div>
		<div class="product-slider-active-1 nav-style-2 nav-style-2-modify-2" *ngIf="products$ | async">

			<ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig">
				<app-product-box ngxSlickItem *ngFor="let product of (products$ | async)" [product]="product"
					class="product-plr-1"></app-product-box>

			</ngx-slick-carousel>
		</div>
	</div>
</div>