
	<footer class="footer-area pt-75 pb-35">
		<div class="custom-container">
			<div class="row">
				<div class="col-width-25 custom-common-column">
					<div class="footer-widget footer-about mb-30">
						<div class="footer-logo logo-width-1">
							<a href="index-2.html"><img src="assets/images/logo/logo.png" alt="logo"></a>
						</div>
						<div class="copyright">
							<p> ©  <a target="_blank" href="webdesignrtl.html">وب دیزاین  </a>تمام حقوق مادی و معنوی سایت محفوظ است.</p>
						</div>
					</div>
				</div>
				<div class="col-width-22 custom-common-column">
					<div class="footer-widget mb-40">
						<h3 class="footer-title"> خدمات مشتری </h3>
						<div class="footer-info-list">
							<ul>
								<li><a href="#"> گزینه های حمل و نقل </a></li>
								<li><a href="wishlist.html"> لیست خواسته های من </a></li>
								<li><a href="my-account.html"> حساب من </a></li>
								<li><a href="return-policy.html"> خط مشی برگشت </a></li>
								<li><a href="#">سوالات متداول خرید </a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-width-22 custom-common-column">
					<div class="footer-widget mb-40">
						<h3 class="footer-title">شرکت ما</h3>
						<div class="footer-info-list">
							<ul>
								<li><a href="about-us.html">درباره ما</a></li>
								<li><a href="terms-of-service.html"> شرایط خدمات </a></li>
								<li><a href="privacy-policy.html"> سیاست حفظ حریم خصوصی </a></li>
								<li><a href="blog.html">وبلاگ ما</a></li>
								<li><a href="contact-us.html">ارتباط با ما</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-width-31 custom-common-column">
					<div class="footer-widget mb-40">
						<h3 class="footer-title">دانلود اپلیکیشن ما</h3>
						<div class="app-visa-wrap">
							<p>سریع و قابل دسترس</p>
							<div class="app-google-img">
								<a href="#"><img src="assets/images/icon-img/app-store.jpg" alt=""></a>
								<a href="#"><img src="assets/images/icon-img/google-play.jpg" alt=""></a>
							</div>
							<p>امنیت بالای پرداخت</p>
							<div class="payment-img">
								<a href="#"><img src="assets/images/icon-img/payment-method.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<div class="tm-demo-options-wrapper">
		<div class="tm-demo-options-toolbar tooltip-style-2">
			<a aria-label="انتخاب دمو" class="view-demo-btn-active" href="#"><i
					class="far fa-ruler-triangle"></i></a>
			<a aria-label="پشتیبانی" target="_blank" href="https://hasthemes.com/contact-us/"><i
					class="far fa-life-ring"></i></a>
			<a aria-label="توضیحات" href="#"><i class="far fa-book"></i></a>
			<a target="_blank" aria-label="مِدیزین"
				href="https://1.envato.market/c/417168/275988/4415?subId1=hastheme&amp;subId2=demo&amp;subId3=https%3A%2F%2Fthemeforest.net%2Fuser%2Fbootxperts%2Fportfolio&amp;u=https%3A%2F%2Fthemeforest.net%2Fuser%2Fbootxperts%2Fportfolio"><i
					class="far fa-shopping-cart"></i></a>
		</div>
		<div class="tm-demo-panel text-center">
			<div class="tm-demo-panel-header">
				<h3> پزشکی - الگوی تجارت الکترونیکی پزشکی </h3>
				<p> Medizin الگوی تجارت الکترونیکی فروشگاه پزشکی کاملاً جدید ما با طراحی تخصصی برای بیمارستان ها ،
					کلینیک ها ، تامین کنندگان پزشکی ، فروشگاه های پزشکی ، فروشگاه های داروخانه ، فروشگاه پزشکی ،
					مراکز بهداشتی ، پیشگیری از ویروس کرونا و تجهیزات آزمایشگاهی بالینی وب سایت های تجارت الکترونیکی
					است. </p>
				<div class="tm-demo-btn">
					<a target="_blank"
						href="https://1.envato.market/c/417168/275988/4415?subId1=hastheme&amp;subId2=demo&amp;subId3=https%3A%2F%2Fthemeforest.net%2Fuser%2Fbootxperts%2Fportfolio&amp;u=https%3A%2F%2Fthemeforest.net%2Fuser%2Fbootxperts%2Fportfolio">
						<i class="far fa-shopping-cart"></i> اکنون بخرید </a>
				</div>
			</div>
			<div class="quick-option-list tooltip-style-4 tooltip-style-4-black">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-6">
						<a aria-label="Medical Supplies" target="_blank" href="index-2.html"><img
								src="assets/images/demo/demo-1.jpg" alt="demo"></a>
					</div>
					<div class="col-lg-6 col-md-6 col-6">
						<a aria-label="Mega Shop" target="_blank" href="index-3.html"><img
								src="assets/images/demo/demo-2.jpg" alt="demo"></a>
					</div>
					<div class="col-lg-6 col-md-6 col-6">
						<a aria-label="Medical Equipment" target="_blank" href="index-4.html"><img
								src="assets/images/demo/demo-3.jpg" alt="demo"></a>
					</div>
				</div>
			</div>
		</div>
	</div>