<div class="contact-area bg-gray-2">
    <div class="custom-container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 col-sm-6">
                <div class="single-contact-wrap text-center">
                    <h4> مکان فروشگاه </h4>
                    <p>تهران - داروخانه فردوسی</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 col-sm-6">
                <div class="single-contact-wrap text-center">
                    <h4>ایمیل ما</h4>
                    <p>info@gmail.com</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 col-sm-6">
                <div class="single-contact-wrap text-center">
                    <h4>شماره تماس</h4>
                    <p>09121234567</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 col-sm-6">
                <div class="single-contact-wrap text-center">
                    <h4>ساعات کاری</h4>
                    <p>شنبه تا چهارشنبه از 8 صبح تا 12 شب</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-area pt-75 pb-35">
    <div class="custom-container">
        <div class="row">
            <div class="col-width-25 custom-common-column">
                <div class="footer-widget footer-about mb-30">
                    <div class="footer-logo logo-width-1">
                        <a href="index-2.html"><img src="assets/images/logo/logo.png" alt="logo"></a>
                    </div>
                    <div class="copyright">
                        <p> ©  <a target="_blank" href="webdesignrtl.html">وب دیزاین  </a>تمام حقوق مادی و معنوی سایت محفوظ است.</p>
                    </div>
                </div>
            </div>
            <div class="col-width-22 custom-common-column">
                <div class="footer-widget mb-40">
                    <h3 class="footer-title"> خدمات مشتری </h3>
                    <div class="footer-info-list">
                        <ul>
                            <li><a href="#"> گزینه های حمل و نقل </a></li>
                            <li><a href="wishlist.html"> لیست خواسته های من </a></li>
                            <li><a href="my-account.html"> حساب من </a></li>
                            <li><a href="return-policy.html"> خط مشی برگشت </a></li>
                            <li><a href="#">سوالات متداول خرید </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-width-22 custom-common-column">
                <div class="footer-widget mb-40">
                    <h3 class="footer-title">شرکت ما</h3>
                    <div class="footer-info-list">
                        <ul>
                            <li><a href="about-us.html">درباره ما</a></li>
                            <li><a href="terms-of-service.html"> شرایط خدمات </a></li>
                            <li><a href="privacy-policy.html"> سیاست حفظ حریم خصوصی </a></li>
                            <li><a href="blog.html">وبلاگ ما</a></li>
                            <li><a href="contact-us.html">ارتباط با ما</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-width-31 custom-common-column">
                <div class="footer-widget mb-40">
                    <h3 class="footer-title">دانلود اپلیکیشن ما</h3>
                    <div class="app-visa-wrap">
                        <p>سریع و قابل دسترس</p>
                        <div class="app-google-img">
                            <a href="#"><img src="assets/images/icon-img/app-store.jpg" alt=""></a>
                            <a href="#"><img src="assets/images/icon-img/google-play.jpg" alt=""></a>
                        </div>
                        <p>امنیت بالای پرداخت</p>
                        <div class="payment-img">
                            <a href="#"><img src="assets/images/icon-img/payment-method.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>