<div class="header-action">

  <div class="d-flex">
    <a *ngIf="!isChecked" class="h6 header-sync-icon rotating">
      <i class="las la-sync"></i>
    </a>
  </div>

  <div *ngIf="isChecked && !isLoggedIn" class="d-flex">

    <a (click)="navigateTo('/auth/login')" class="h6">
      ورود به حساب
      <i class="las la-user"></i>

    </a>

    <a (click)="navigateTo('/auth/register')" class="h6 ml-3">ثبت نام /
      <i class="las la-user"></i>
    </a>

  </div>

  <div *ngIf="isChecked && isLoggedIn" class="d-flex">

    <a routerLink="/user-profile" class="h6">
      <i class="la la-user"></i>
    </a>

    <a (click)="authService.logout(true)" class="h6">خروج</a>

  </div>
</div>
