<div class="header-action">

  <div class="header-auth-container">

    <a *ngIf="!isChecked" class="header-sync-icon rotating">
      <i class="las la-sync"></i>
    </a>

  </div>

  <div *ngIf="isChecked && !isLoggedIn" class="header-auth-container">

    <a (click)="navigateTo('/auth/login')">
      ورود به حساب
      <i class="las la-user"></i>

    </a>

    <a (click)="navigateTo('/auth/register')" class="h6 ml-3">ثبت نام /
      <i class="las la-user"></i>
    </a>

  </div>

  <div *ngIf="isChecked && isLoggedIn" class="header-auth-container">

    <a routerLink="/user-profile">
      <i class="la la-user"></i>
    </a>

    <a (click)="authService.logout(true)">خروج</a>

  </div>
</div>
