<app-breadcrumb [pageTitle]="'سبد خرید'"></app-breadcrumb>

<div class="cart-area pt-75 pb-35">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="cart-table-content" *ngIf="(cart.items.length > 0)">

          <div *ngFor="let item of cart.items" class="container mb-4">
            <p class="alert alert-warning"
              *ngIf="(item.itemInInventoryCountIsLowerThanRequestedCount && !item.isNotInStock)">کالای
              {{item.title}} با تعداد درخواستی در انبار موجود
              نمی باشد
            </p>

            <p class="alert alert-warning"
              *ngIf="(item.isNotInStock && !item.itemInInventoryCountIsLowerThanRequestedCount)">
              کالای {{item.title}} در انبار موجود نمی باشد
            </p>

          </div>

          <div class="table-content table-responsive">
            <table>
              <thead>
                <tr>
                  <th class="width-thumbnail">محصول</th>
                  <th class="width-name"></th>
                  <th class="width-price"> قیمت</th>
                  <th class="width-quantity">تعداد</th>
                  <th class="width-subtotal">جمع کل</th>
                  <th class="width-subtotal">تخفیف</th>
                  <th class="width-subtotal">مبلغ قابل پرداخت</th>
                  <th class="width-remove"></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of cart.items">
                  <td class="product-thumbnail">
                    <a href="#">
                      <img [src]="baseProductPath + item.imagePath" [alt]="item.imageAlt" [title]="item.imageTitle">
                    </a>
                  </td>
                  <td class="product-name">
                    <h5>
                      <a href="#"> {{item.title }} </a>
                    </h5>
                  </td>
                  <td class="product-price"><span class="amount">{{item.unitPrice | thousandSeparator}} تومان</span>
                  </td>


                  <td class="cart-quality">
                    <div class="product-quality">
                      <div class="dec qtybutton" (click)="minusCount(item.productId, item.count)"></div>

                      <input disabled class="cart-plus-minus-box input-text qty text" name="qtybutton"
                        [value]="item.count">


                      <div class="inc qtybutton" (click)="plusCount(item.productId, item.count)"></div>
                    </div>
                  </td>


                  <td class="product-total"><span>{{item.totalItemPrice | thousandSeparator}} تومان</span></td>

                  <td class="product-total">

                    <div *ngIf="item.discountRate > 0">
                      <span> {{item.discountRate}} درصد</span>
                      <br />
                      <span> {{item.discountAmount | thousandSeparator}} تومان</span>
                    </div>

                    <p *ngIf="item.discountRate == 0" class="alert alert-warning p-1">برای این محصول تخفیف وجود ندارد
                    </p>
                  </td>

                  <td class="product-total"><span>{{item.itemPayAmount | thousandSeparator}} تومان</span></td>

                  <td class="product-remove">
                    <a (click)="removeFromCart(item.productId)">حذف</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="cart-shiping-update-wrapper">
            <div class="continure-clear-btn">
              <div class="clear-btn">
                <a (click)="clearCart()"><i class="fa fa-times"></i> پاک کردن سبد خرید </a>
              </div>
            </div>
            <div class="update-btn">
              <a routerLink="/cart/checkout"> ادامه خرید </a>
            </div>
          </div>
        </div>
        <div class="cart-table-content container" *ngIf="!(cart.items.length > 0)">
          <div class="alert alert-warning">سبد خرید شما خالی می باشد</div>
        </div>
      </div>
    </div>
  </div>
</div>
