<div class="pro-details-review">
    <div *ngFor="let comment of comments" class="single-pro-details-review">
        <div class="review-img">
            <img src="assets/images/user/default-avatar.png" alt="">
        </div>
        <div class="review-content">
            <div class="review-name-rating">
                <div class="review-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="review-name">
                    <h6> {{comment.name}} </h6>
                </div>
            </div>
            <p [innerText]="comment.text"></p>
            <div class="review-date-btn">
                <div class="review-date">
                    <span>{{ comment.creationDate }}</span>
                </div>
                <div class="review-btn">
                    <a href="#comment_from" (click)="setSelectedParentId(comment.id)">پاسخ</a>
                </div>
            </div>
        </div>

        <div class="mr-2">
            
        </div>
    </div>
    <div class="ratting-form-wrapper">
        <h3> افزودن نظر </h3>
        <p> آدرس ایمیل شما منتشر نخواهد شد. </p>
        <div class="comment-form-rating-wrap">
            <span> رتبه بندی شما: * </span>
            <div class="comment-form-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
        <div class="rating-form-style" id="comment_from">
            <form [formGroup]="addCommentForm" (ngSubmit)="submitAddCommentForm()">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" formControlName="name" placeholder="نام*">
                        <span *ngIf="checkError('name', 'required')" class="text-danger">
                            لطفا نام خود را وارد نمایید
                        </span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="email" formControlName="email" placeholder="ایمیل*">
                        <span *ngIf="checkError('email', 'required')" class="text-danger">
                            لطفا ایمیل خود را وارد نمایید
                        </span>
                        <span *ngIf="checkError('email', 'email')" class="text-danger">
                            لطفا ایمیل معتبر وارد نمایید
                        </span>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <textarea formControlName="text" placeholder="نظر شما"></textarea>
                        <span *ngIf="checkError('text', 'required')" class="text-danger">
                            لطفا متن نظر خود را وارد نمایید
                        </span>
                        <span *ngIf="checkError('text', 'maxlength')" class="text-danger">
                            مقدار متن نظر نباید بیشتر از 500 کاراکتر باشد
                        </span>
                    </div>
                </div>
                <div class="form-submit">
                    <input type="submit" value="ثبت">
                </div>
            </form>
        </div>
    </div>
</div>