<div class="pro-details-review">
    <div *ngFor="let comment of (comments$ | async)">

        <div class="single-pro-details-review">
            <div class="d-flex justify-center">
                <div class="review-img">
                    <img src="assets/images/user/default-avatar.png" alt="" width="100" height="100">
                </div>
                <div class="review-content">
                    <div class="review-name-rating">
                        <div class="review-name d-flex">
                            <h6> {{comment.name}} </h6>
                            <div class="review-date">
                                <span>{{ comment.creationDate }}</span>
                            </div>
                        </div>
                    </div>
                    <div [innerHtml]="comment.text"></div>
                </div>
            </div>
            <div class="review-btn">
                <a class="btn btn-sm btn-primary text-white" (click)="setSelectedParentId(comment_from, comment.id)">پاسخ</a>
            </div>
        </div>
        <div *ngFor="let replie of comment.replies" class="ml-5 single-pro-details-review">
            <div class="d-flex justify-center">
                <div class="review-img">
                    <img src="assets/images/user/default-avatar.png" alt="" width="100" height="100">
                </div>
                <div class="review-content">
                    <div class="review-name-rating">
                        <div class="review-name d-flex">
                            <h6> {{replie.name}} </h6>
                            <div class="review-date">
                                <span>{{ replie.creationDate }}</span>
                            </div>
                        </div>
                    </div>
                    <div [innerHtml]="replie.text"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ratting-form-wrapper" #comment_from>
        <h3> افزودن نظر </h3>
        <p> آدرس ایمیل شما منتشر نخواهد شد. </p>
        <div class="rating-form-style">
            <form [formGroup]="addCommentForm" (ngSubmit)="submitAddCommentForm()">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" formControlName="name" placeholder="نام*">
                        <span *ngIf="checkError('name', 'required')" class="text-danger">
                            لطفا نام خود را وارد نمایید
                        </span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="email" formControlName="email" placeholder="ایمیل*">
                        <span *ngIf="checkError('email', 'required')" class="text-danger">
                            لطفا ایمیل خود را وارد نمایید
                        </span>
                        <span *ngIf="checkError('email', 'email')" class="text-danger">
                            لطفا ایمیل معتبر وارد نمایید
                        </span>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <textarea formControlName="text" placeholder="نظر شما"></textarea>
                        <span *ngIf="checkError('text', 'required')" class="text-danger">
                            لطفا متن نظر خود را وارد نمایید
                        </span>
                        <span *ngIf="checkError('text', 'maxlength')" class="text-danger">
                            مقدار متن نظر نباید بیشتر از 500 کاراکتر باشد
                        </span>
                    </div>
                </div>
                <div class="form-submit w-100 mt-3">
                    <input type="submit" class="w-100" value="ثبت">
                </div>
            </form>
        </div>
    </div>
</div>