<app-breadcrumb [pageTitle]="'محصولات'"></app-breadcrumb>

<div class="shop-area pt-75 pb-55">
  <div class="custom-container">
    <div class="row flex-row-reverse">
      <div class="col-lg-9">
        <div class="shop-topbar-wrapper">
          <div class="totall-product" *ngIf="isDataLoaded">
            <p>ما پیدا کردیم<span> {{searchProducts.allPagesCount}} </span>محصول در دسترس برای شما</p>
          </div>
          <div class="sort-by-product-area">
            <div class="sort-by-product-wrap">
              <div class="sort-by">
                <span><i class="fa fa-align-left"></i> قیمت: </span>
              </div>
              <div class="sort-by-dropdown-wrap">
                <span>{{ currentPriceSortSelected[1] }}<i class="fa fa-angle-down"></i></span>
              </div>
            </div>
            <div class="sort-by-dropdown">
              <ul>
                <li><a (click)="setPriceOrder(0)">همه</a></li>
                <li><a (click)="setPriceOrder(1)">قیمت از زیاد به کم</a></li>
                <li><a (click)="setPriceOrder(2)">قیمت از کم به زیاد</a></li>
              </ul>
            </div>
          </div>
          <div class="sort-by-product-area">
            <div class="sort-by-product-wrap">
              <div class="sort-by">
                <span><i class="fa fa-align-left"></i> تاریخ: </span>
              </div>
              <div class="sort-by-dropdown-wrap">
                <span> {{ currentCreationSortSelected[1] }} <i class="fa fa-angle-down"></i></span>
              </div>
            </div>
            <div class="sort-by-dropdown">
              <ul>
                <li><a (click)="setCreationSort(0)">جدیدترین</a></li>
                <li><a (click)="setCreationSort(1)">قدیمی ترین</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="shop-bottom-area" *ngIf="isDataLoaded">
          <div class="row">
            <app-product-box *ngFor="let product of searchProducts.products" [product]="product"
              class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6"></app-product-box>
          </div>
          <div class="pro-pagination-style text-center mt-55">
            <ul>
              <li *ngFor="let page of pages">
                <a (click)="setPage(page)" [ngClass]="{ active: page === searchProducts.pageId }">{{
                  page }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="sidebar-wrapper sidebar-wrapper-mr1">
          <div class="sidebar-widget sidebar-widget-wrap sidebar-widget-padding-1 mb-20" *ngIf="isDataLoaded">
            <h4 class="sidebar-widget-title"> دسته بندی</h4>
            <div class="sidebar-categories-list">
              <ul>
                <li *ngFor="let category of productCategories">
                  <input [value]="category.id" type="checkbox" (change)="filterCategories($event, category.slug)"
                    [checked]="searchProducts.selectedCategories?.indexOf(category.slug) >= 0" />

                  <label>{{category.title}}</label>
                </li>
              </ul>
            </div>
          </div>
          <div *ngIf="isDataLoaded" class="sidebar-widget sidebar-widget-wrap sidebar-widget-padding-2 mb-20">
            <h4 class="sidebar-widget-title">فیلتر بر اساس قیمت (تومان)</h4>
            <div class="price-filter">
              <div class="custom-ngx-slider">
                <ngx-slider [value]="searchProducts.selectedMinPrice" [highValue]="searchProducts.selectedMaxPrice"
                  [options]="
									{
										floor: searchProducts.filterMinPrice,
										ceil: searchProducts.filterMaxPrice,
										step: 250000
									}" (userChangeEnd)="priceValueChanged($event)">
                </ngx-slider>
              </div>
              <div>حداقل قیمت: {{searchProducts.selectedMinPrice}}</div>
              <div>حداکثر قیمت: {{searchProducts.selectedMaxPrice}}</div>
              <div class="price-slider-amount">
                <div class="label-input">
                </div>
                <button (click)="getProducts()" type="button">فیلتر</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
