<header class="header-area header-height-2">
  <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
    <div class="custom-container">
      <div class="header-wrap header-space-between">
        <div class="logo logo-width-1">
          <a [routerLink]="'/'"><img src="assets/images/logo/logo.png" alt="logo"></a>
        </div>
        <div class="search-style-2">
          <div action="#">
            <ng-select2 [(ngModel)]="selectedCategory" [data]="productCategorySelectData" [placeholder]="'دسته بندی'"
              [options]="{
                minimumResultsForSearch: -1
               }">
            </ng-select2>

            <input [(ngModel)]="searchPhrase" name="searchPhrase" type="text" placeholder="جستجو آیتم مورد نظر...">
            <button (click)="submitSearch()" type="button"> <i class="las la-search"></i> </button>
          </div>
        </div>

        <app-header-auth class="header-action-right"></app-header-auth>

      </div>
    </div>
  </div>
  <div class="header-bottom header-bottom-bg-color sticky-bar gray-bg sticky-blue-bg">
    <div class="custom-container">
      <div class="header-wrap header-space-between position-relative">

        <div class="logo logo-width-1 d-block d-lg-none">
          <a [routerLink]="'/'"><img src="assets/images/logo/logo-white.png" alt="logo"></a>
        </div>

        <div class="main-categori-wrap d-none d-lg-block">
          <div class="categori-dropdown-wrap categori-dropdown-active-large">
            <ul>

              <li *ngFor="let category of productCategories">
                <a [routerLink]="['/category/details/', category.slug.toString()]">
                  {{category.title}}
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div
          class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block main-menu-light-white hover-boder hover-boder-white">
          <nav>
            <ul>
              <li><a routerLink="/" [routerLinkActive]="'active'">صفحه اصلی</a></li>
              <li><a routerLink="/">دسته بندی ها<i class="las la-angle-down"></i></a>
                <ul class="sub-menu">
                  <li *ngFor="let category of productCategories">
                    <a [routerLink]="['/category/details/', category.slug.toString()]">
                      {{category.title}}
                    </a>
                  </li>
                </ul>
              </li>
              <li><a routerLink="/blog">وبلاگ<i class="las la-angle-down"></i></a>
                <ul class="sub-menu">
                  <li *ngFor="let category of articleCategories">
                    <a [routerLink]="['/blog']">
                      {{category.title}}
                    </a>
                  </li>
                </ul>
              </li>
              <li><a href="contact-us.html">ارتباط با ما</a></li>
            </ul>
          </nav>
        </div>
        <div class="hotline d-none d-lg-block">
          <app-header-cart class="header-action-icon"></app-header-cart>
        </div>
        <div class="header-action-right d-block d-lg-none">
          <div class="header-action-2">
            <app-header-cart class="header-action-icon-2"></app-header-cart>

            <div class="header-action-icon-2">
              <a routerLink="/product/search">
                <i class="las la-search"></i>
              </a>
            </div>
            <div class="header-action-icon-2 d-block d-lg-none">
              <div class="burger-icon burger-icon-white" id="burger_icon">
                <span class="burger-icon-top"></span>
                <span class="burger-icon-bottom"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
