<app-breadcrumb [pageTitle]="'پروفایل'"></app-breadcrumb>


<div class="pt-75 pb-75">
  <div class="container">
    <div class="row">

      <user-sidebar class="col-lg-4 col-md-4"></user-sidebar>

      <div class="col-lg-8 col-md-8">
        <div class="tab-content user-sidebar-content-wrapper">
          <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
            <div class="user-sidebar-content">
              <div class="welcome">
                <p>سلام, <strong>علی</strong> <strong>به حساب کاربریت خوش اومدی</strong><a href="login-register.html"
                    class="logout"> </a>:)</p>
              </div>

              <p class="mb-0"> از داشبورد حساب خود می توانید خود را مشاهده کنید<a href="#"> سفارشات اخیر </a> ، خود را
                مدیریت کنید<a href="#">آدرس حمل و نقل و صورتحساب</a> , و <a href="#">رمز ورود و جزئیات حساب خود را
                  ویرایش کنید</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
