<app-breadcrumb [pageTitle]="pageTitle$ | async"></app-breadcrumb>

<div class="blog-details-area padding-30-row-col pt-75 pb-75">
  <div class="container">
    <div class="row" *ngIf="isDataLoaded">
      <div class="col-lg-8">
        <div class="blog-details-wrapper">
          <div class="blog-details-top-content">
            <div class="post-categories">
              <a [routerLink]="'/blog/category/' + article.categoryId">{{article.category}}</a>
            </div>
            <h1> {{article.title}} </h1>
            <div class="blog-meta-3">
              <ul>
                <li><i class="far la-calendar"></i> {{ article.creationDate }}</li>
                <li><i class="far la-eye"></i> 453 بازدید</li>
                <li><a href="#"><i class="far la-comment-alt-lines"></i>0 نظر</a> </li>
              </ul>
            </div>
          </div>
          <img [src]="baseArticleImgPath + article.imagePath" [alt]="article.imageAlt" [title]="article.imageTitle">
          <div [innerHtml]="article.text"></div>
          <div class="blog-tag-share-wrap">
            <div class="blog-tag-wrap">
              <span class="tag-icon fal la-tags"></span>
              <div class="blog-tag">
                <a *ngFor="let tag of article.tags">
                  {{tag}} ,
                </a>
              </div>
            </div>
            <div class="blog-share-wrap">
              <div class="blog-share-content">
                <span> به اشتراک گذاشتن این پست </span>
              </div>
              <div class="blog-share-icon">
                <span class="fas la-share-alt"></span>
                <div class="blog-share-list tooltip-style-4 bs-list-responsive">
                  <a aria-label="فیسبوک" href="#"><i class="fab la-facebook-f"></i></a>
                  <a aria-label="توئیتر" href="#"><i class="fab la-twitter"></i></a>
                  <a aria-label="Linkedin" href="#"><i class="fab la-linkedin"></i></a>
                  <a aria-label="Tumblr" href="#"><i class="fab la-tumblr-square"></i></a>
                  <a aria-label="Envelope" href="#"><i class="fas la-envelope"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-prev-next-wrap">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                <div class="blog-prev-next-style blog-prev-position">
                  <a href="#">
                    <img src="assets/images/blog/prev.jpg" alt="">
                    <h4> روزمره روزانه برای یک زندگی سالم </h4>
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                <div class="blog-prev-next-style blog-next-position">
                  <a href="#">
                    <img src="assets/images/blog/next.jpg" alt="">
                    <h4> محققان پزشکی دقیق ژن های جدید آلزایمر را شناسایی می کنند </h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-reply-wrapper">
            <app-record-comments [recordId]="article.id" [recordType]="'Article'"></app-record-comments>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar-wrapper sidebar-wrapper-ml1">
          <div class="sidebar-widget sidebar-widget-wrap sidebar-widget-padding-2 mb-20">
            <h4 class="sidebar-widget-title"> جستجو</h4>
            <div class="search-style-3">
              <form action="#">
                <input type="text" placeholder="جستجو...">
                <button type="submit"> <i class="far la-search"></i> </button>
              </form>
            </div>
          </div>
          <div class="sidebar-widget sidebar-widget-wrap sidebar-widget-padding-1 mb-20">
            <h4 class="sidebar-widget-title"> دسته بندی</h4>
            <div class="sidebar-categories-list">
              <ul>
                <li *ngFor="let category of articleCategories">
                  <a [routerLink]="['/blog']" class="cursor-pointer">
                    {{category.title}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="sidebar-widget sidebar-widget-wrap sidebar-widget-padding-6">
            <h4 class="sidebar-widget-title"> تگ ها </h4>
            <div class="sidebar-tag">
              <ul>
                <li *ngFor="let tag of article.tags">
                  <a href="#"> {{tag}} </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
