
	<div class="categories-area pb-70">
		<div class="custom-container">
			<div class="section-title-1 mb-40">
				<h2> خرید بر اساس دسته ها </h2>
			</div>
			<div class="categories-slider-1">
				<div class="product-plr-1">
					<div class="categories-wrap">
						<div class="categories-img categories-img-zoom">
							<a href="shop.html"><img src="assets/images/product/categorie-1.jpg" alt=""></a>
						</div>
						<div class="categories-content text-center">
							<h3><a href="shop.html"> تجهیزات بیمارستان </a></h3>
						</div>
					</div>
				</div>
				<div class="product-plr-1">
					<div class="categories-wrap">
						<div class="categories-img categories-img-zoom">
							<a href="shop.html"><img src="assets/images/product/categorie-2.png" alt=""></a>
						</div>
						<div class="categories-content text-center">
							<h3><a href="shop.html"> فشار خون </a></h3>
						</div>
					</div>
				</div>
				<div class="product-plr-1">
					<div class="categories-wrap">
						<div class="categories-img categories-img-zoom">
							<a href="shop.html"><img src="assets/images/product/categorie-3.jpg" alt=""></a>
						</div>
						<div class="categories-content text-center">
							<h3><a href="shop.html"> لوازم جانبی </a></h3>
						</div>
					</div>
				</div>
				<div class="product-plr-1">
					<div class="categories-wrap">
						<div class="categories-img categories-img-zoom">
							<a href="shop.html"><img src="assets/images/product/categorie-4.jpg" alt=""></a>
						</div>
						<div class="categories-content text-center">
							<h3><a href="shop.html">شخصی</a></h3>
						</div>
					</div>
				</div>
				<div class="product-plr-1">
					<div class="categories-wrap">
						<div class="categories-img categories-img-zoom">
							<a href="shop.html"><img src="assets/images/product/categorie-5.jpg" alt=""></a>
						</div>
						<div class="categories-content text-center">
							<h3><a href="shop.html"> زندگی مستقل </a></h3>
						</div>
					</div>
				</div>
				<div class="product-plr-1">
					<div class="categories-wrap">
						<div class="categories-img categories-img-zoom">
							<a href="shop.html"><img src="assets/images/product/categorie-6.jpg" alt=""></a>
						</div>
						<div class="categories-content text-center">
							<h3><a href="shop.html"> داروخانه </a></h3>
						</div>
					</div>
				</div>
				<div class="product-plr-1">
					<div class="categories-wrap">
						<div class="categories-img categories-img-zoom">
							<a href="shop.html"><img src="assets/images/product/categorie-2.png" alt=""></a>
						</div>
						<div class="categories-content text-center">
							<h3><a href="shop.html"> فشار خون </a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>