<div class="myaccount-tab-menu nav" role="tablist">
  <div class="d-flex align-items-center">
    <img src="/assets/images/user/default-avatar.png" alt="" width="250">
  </div>
  <hr />
  <a href="#dashboad" class="active" data-toggle="tab">داشبورد</a>
  <a href="#orders" data-toggle="tab"> سفارشات </a>
  <a href="#download" data-toggle="tab">دانلود</a>
  <a href="#address-edit" data-toggle="tab">آدرس</a>
  <a href="#account-info" data-toggle="tab"> جزئیات حساب </a>
  <a href="login-register.html"> خروج </a>
</div>
