<app-breadcrumb [pageTitle]="'ورود به حساب'"></app-breadcrumb>

<div class="login-register-area pt-75 pb-75">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-sm-12">
        <div class="login-register-wrap login-register-gray-bg">
          <div class="login-register-title">
            <h1>ثبت نام</h1>
          </div>
          <div class="login-register-form">
            <form [formGroup]="registerForm" (ngSubmit)="submitForm()">

              <div class="login-register-input-style input-style input-style-white">
                <label>نام</label>
                <input type="text" formControlName="firstName">

                <p class="text-danger" *ngIf="checkError('firstName', 'required')">لطفا نام خود وارد نمایید</p>
              </div>

              <div class="login-register-input-style input-style input-style-white">
                <label>نام خانوادگی</label>
                <input type="text" formControlName="lastName">

                <p class="text-danger" *ngIf="checkError('lastName', 'required')">لطفا نام خانوادگی خود وارد نمایید</p>
              </div>

              <div class="login-register-input-style input-style input-style-white">
                <label>آدرس ایمیل</label>
                <input type="email" formControlName="email">

                <p class="text-danger" *ngIf="checkError('email', 'required') || checkError('email', 'email')">لطفا
                  ایمیل معتبر وارد نمایید</p>
              </div>

              <div class="login-register-input-style input-style input-style-white">
                <label>رمز عبور</label>
                <input type="password" formControlName="password" />

                <p class="text-danger" *ngIf="checkError('password', 'required')">لطفا رمز عبور را وارد نمایید</p>
              </div>

              <div class="login-register-input-style input-style input-style-white">
                <label>تایید رمز عبور</label>
                <input type="password" formControlName="confirmPassword" />

                <p class="text-danger" *ngIf="checkError('confirmPassword', 'required')">لطفا رمز عبور را وارد نمایید</p>
              </div>


              <div class="lost-remember-wrap">
                <div class="remember-wrap">
                  <input type="checkbox">
                  <span> قوانین را می پذیرم </span>
                </div>
                <div class="lost-wrap">
                  <a (click)="navigateToLogin()" class="cursor-pointer">حساب کاربری دارید ؟</a>
                </div>
              </div>
              <div class="login-register-btn">
                <button type="submit">ورود </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
