
	
	<index-main-slider></index-main-slider>
	
	
	<index-categories-slider></index-categories-slider>

	<index-latest-product-slider></index-latest-product-slider>
	

	<div class="banner-area pb-45">
		<div class="custom-container">
			<div class="row">
				<div class="col-lg-8">
					<div class="banner-wrap mb-30">
						<div class="banner-img banner-img-zoom">
							<a href="product-details.html"><img src="assets/images/banner/banner-8.jpg" alt=""></a>
						</div>
						<div class="banner-content-2">
							<h2 class="font-size-dec"> لوازم پزشکی خانگی </h2>
							<h3 class="d-none d-sm-block"> ژل ضدعفونی کننده الکل </h3>
							<h4>35,000 تومن</h4>
							<div class="btn-style-1">
								<a class="font-size-14 btn-1-padding-2" href="product-details.html"> اکنون خرید کنید
								</a>
							</div>
						</div>
						<div class="banner-badge-2 banner-badge-2-modify-1 banner-badge-2-position1">
							<h3>
								<span>بهترین</span>
								قیمت
							</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="banner-wrap mb-30">
						<div class="banner-img banner-img-zoom">
							<a href="product-details.html"><img src="assets/images/banner/banner-7.jpg" alt=""></a>
						</div>
						<div class="banner-content-3">
							<span> لوازم پزشکی خانگی </span>
							<h2> دماسنج بدن دیجیتال </h2>
							<h4 class="red">15,000 تومان</h4>
							<div class="btn-style-1">
								<a class="font-size-14 btn-1-padding-2" href="product-details.html"> اکنون خرید کنید
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="brand-logo-area pb-35">
		<div class="custom-container">
			<div class="section-title-1 section-title-hm2 mb-30">
				<h2> خرید با مارک </h2>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-1.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-2.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-3.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-4.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-5.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-6.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-7.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-8.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-9.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-10.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-11.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-12.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	