
	
	<index-main-slider></index-main-slider>
	
	
	<index-categories-slider></index-categories-slider>

	<index-latest-product-slider></index-categories-slider>
	

	<div class="banner-area pb-45">
		<div class="custom-container">
			<div class="row">
				<div class="col-lg-8">
					<div class="banner-wrap mb-30">
						<div class="banner-img banner-img-zoom">
							<a href="product-details.html"><img src="assets/images/banner/banner-8.jpg" alt=""></a>
						</div>
						<div class="banner-content-2">
							<h2 class="font-size-dec"> لوازم پزشکی خانگی </h2>
							<h3 class="d-none d-sm-block"> ژل ضدعفونی کننده الکل </h3>
							<h4>35,000 تومن</h4>
							<div class="btn-style-1">
								<a class="font-size-14 btn-1-padding-2" href="product-details.html"> اکنون خرید کنید
								</a>
							</div>
						</div>
						<div class="banner-badge-2 banner-badge-2-modify-1 banner-badge-2-position1">
							<h3>
								<span>بهترین</span>
								قیمت
							</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="banner-wrap mb-30">
						<div class="banner-img banner-img-zoom">
							<a href="product-details.html"><img src="assets/images/banner/banner-7.jpg" alt=""></a>
						</div>
						<div class="banner-content-3">
							<span> لوازم پزشکی خانگی </span>
							<h2> دماسنج بدن دیجیتال </h2>
							<h4 class="red">15,000 تومان</h4>
							<div class="btn-style-1">
								<a class="font-size-14 btn-1-padding-2" href="product-details.html"> اکنون خرید کنید
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product-area pb-30">
		<div class="custom-container">
			<div class="section-title-btn-wrap st-btn-wrap-xs-center mb-35">
				<div class="section-title-1 section-title-hm2">
					<h2> لباس و پوشاک ماسک و محافظ </h2>
				</div>
				<div class="btn-style-2 mrg-top-xs">
					<a href="shop.html">مشاهده تمام محصولات<i class="far fa-long-arrow-right"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="slidebar-product-wrap slidebar-product-bg-1">
						<div class="slidebar-product-content text-center">
							<h3> ماسک صورت </h3>
							<h2> جستجوی ماسک آزمایشگاه N95 </h2>
						</div>
						<div class="slidebar-product-img text-center">
							<a href="product-details.html"><img src="assets/images/product/product-banner-1.png"
									alt=""></a>
							<div class="btn-style-1">
								<a class="font-size-14 btn-1-padding-4" href="product-details.html"> اکنون خرید کنید
								</a>
							</div>
						</div>
						<div class="slidebar-product-details">
							<ul>
								<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> واکر تاشو لوکس نقره ای
									</a></li>
								<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> آب درمانی با آب یخ</a>
								</li>
								<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> اسفنج های گاز 12 لایه ای
									</a></li>
								<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> دستگاه تنفس اکسیژن</a>
								</li>
								<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> اسکوتر تحرک چرخ </a>
								</li>
								<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> صندلی حمل و نقل سبک </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-7.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-7-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="hot yellow">داغ</span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> تجهیزات بیمارستان </a>
									</div>
									<h2><a href="product-details.html"> اسکراب جیبی ملزومات </a></h2>
									<div class="product-price">
										<span>30,000 تومان - 32,000 تومان</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-8.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-8-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="hot yellow">داغ</span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> تجهیزات بیمارستان </a>
									</div>
									<h2><a href="product-details.html"> اسکراب بالای گردن مردانه </a></h2>
									<div class="product-price">
										<span>25,000 تومان - 27,000 تومان</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-11.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-11-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> تجهیزات بیمارستان </a>
									</div>
									<h2><a href="product-details.html"> واکسن گارداسیل </a></h2>
									<div class="product-price">
										<span>15,000 تومان</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-2.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-2-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="hot red">-38%</span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> تجهیزات بیمارستان </a>
									</div>
									<h2><a href="product-details.html"> دستکش لاتکس جراحی </a></h2>
									<div class="product-price">
										<span class="new-price">10,000 تومن</span>
										<span class="old-price">16,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-12.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-12-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> تجهیزات بیمارستان </a>
									</div>
									<h2><a href="product-details.html"> لوله های پلاستیکی خون </a></h2>
									<div class="product-price">
										<span>25,000 تومان - 27,000 تومان</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-13.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-13-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> تجهیزات بیمارستان </a>
									</div>
									<h2><a href="product-details.html"> کیت ابزار دندانپزشکی </a></h2>
									<div class="product-price">
										<span>35,000 تومن </span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-3.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="hot yellow">داغ</span>
										<span class="red">20%</span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> تجهیزات بیمارستان </a>
									</div>
									<h2><a href="product-details.html"> دستگاه اکسیژن دستی </a></h2>
									<div class="product-price">
										<span class="new-price">12,000 تومن</span>
										<span class="old-price">16,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-4.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-4-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="hot red"> فروخته شد </span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> تجهیزات بیمارستان </a>
									</div>
									<h2><a href="product-details.html"> اسفنج های گاز 12 لایه ای </a></h2>
									<div class="product-price">
										<span class="new-price">7,000 تومن</span>
										<span class="old-price">10,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product-area pb-60">
		<div class="custom-container">
			<div class="section-title-btn-wrap st-btn-wrap-xs-center mb-35">
				<div class="section-title-1 section-title-hm2">
					<h2> لوازم بهداشتی ، مراقبت شخصی و تمیز کردن </h2>
				</div>
				<div class="btn-style-2 mrg-top-xs">
					<a href="shop.html">مشاهده تمام محصولات<i class="far fa-long-arrow-right"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="slidebar-product-wrap slidebar-product-bg-2">
						<div class="slidebar-product-content text-center">
							<h3>وایتس</h3>
							<h2> ژل دست خشک ضد سپتیک </h2>
						</div>
						<div class="slidebar-product-img slidebar-product-mrg-1 text-center">
							<a href="product-details.html"><img src="assets/images/product/product-banner-2.png"
									alt=""></a>
							<div class="btn-style-1">
								<a class="font-size-14 btn-1-padding-4" href="product-details.html"> اکنون خرید کنید
								</a>
							</div>
						</div>
						<div class="slidebar-product-details">
							<ul>
								<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> واکر تاشو لوکس نقره ای
								</a></li>
							<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> آب درمانی با آب یخ</a>
							</li>
							<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> اسفنج های گاز 12 لایه ای
								</a></li>
							<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> دستگاه تنفس اکسیژن</a>
							</li>
							<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> اسکوتر تحرک چرخ </a>
							</li>
							<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> صندلی حمل و نقل سبک </a>
							</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-14.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> لوازم پزشکی خانگی </a>
									</div>
									<h2><a href="product-details.html"> صفحه اصلی قابل تنظیم خلوص </a></h2>
									<div class="product-price">
										<span>115,000 تومان </span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-1.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="hot yellow">26%</span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html">شخصی</a>
									</div>
									<h2><a href="product-details.html"> ژل شستشوی دست یکبار مصرف </a></h2>
									<div class="product-price">
										<span class="new-price">20,000 تومن</span>
										<span class="old-price">27,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-15.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="red-2"> فروخته شد </span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> لوازم پزشکی خانگی </a>
									</div>
									<h2><a href="product-details.html"> بخار بخار </a></h2>
									<div class="product-price">
										<span>15,000 تومان</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-16.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-16-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> لوازم پزشکی خانگی </a>
									</div>
									<h2><a href="product-details.html"> دماسنج دیجیتال </a></h2>
									<div class="product-price">
										<span>45,000 تومان - 55,000 تومان</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-17.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> لوازم پزشکی خانگی </a>
									</div>
									<h2><a href="product-details.html"> ژل ضدعفونی کننده الکل </a></h2>
									<div class="product-price">
										<span>15,000 تومان</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-18.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-18-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> لوازم پزشکی خانگی </a>
									</div>
									<h2><a href="product-details.html"> اسفنج جراحی </a></h2>
									<div class="product-price">
										<span>10,000 تومان</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-19.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="red">17%</span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> لوازم پزشکی خانگی </a>
									</div>
									<h2><a href="product-details.html"> نحوه استفاده از کمپرسور هوا قابل حمل </a>
									</h2>
									<div class="product-price">
										<span class="new-price">120,000 تومان</span>
										<span class="old-price">146,000 تومان</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-6.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-6-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="hot yellow">داغ</span>
										<span class=" red">-28%</span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> لوازم پزشکی خانگی </a>
									</div>
									<h2><a href="product-details.html"> کمپرسور شخصی قابل حمل </a></h2>
									<div class="product-price">
										<span class="new-price">7,000 تومن</span>
										<span class="old-price">10,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product-area pb-20">
		<div class="custom-container">
			<div class="section-title-btn-wrap st-btn-wrap-xs-center mb-35">
				<div class="section-title-1 section-title-hm2">
					<h2> بیمارستان و تجهیزات پزشکی </h2>
				</div>
				<div class="btn-style-2 mrg-top-xs">
					<a href="shop.html">مشاهده تمام محصولات<i class="far fa-long-arrow-right"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="slidebar-product-wrap slidebar-product-bg-3">
						<div class="slidebar-product-content text-center">
							<h3>مدل 936 </h3>
							<h2>سیتی اسکن پیشرفته</h2>
						</div>
						<div class="slidebar-product-img slidebar-product-mrg-1 text-center">
							<a href="product-details.html"><img src="assets/images/product/product-banner-3.png"
									alt=""></a>
							<div class="btn-style-1">
								<a class="font-size-14 btn-1-padding-4" href="product-details.html"> اکنون خرید کنید
								</a>
							</div>
						</div>
						<div class="slidebar-product-details">
							<ul>
								<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> واکر تاشو لوکس نقره ای
								</a></li>
							<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> آب درمانی با آب یخ</a>
							</li>
							<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> اسفنج های گاز 12 لایه ای
								</a></li>
							<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> دستگاه تنفس اکسیژن</a>
							</li>
							<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> اسکوتر تحرک چرخ </a>
							</li>
							<li><a href="#"><i class="far fa-long-arrow-alt-right"></i> صندلی حمل و نقل سبک </a>
							</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-9.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-9-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="hot yellow">داغ</span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> زندگی مستقل </a>
									</div>
									<h2><a href="product-details.html"> واکر تاشو لوکس نقره ای </a></h2>
									<div class="product-price">
										<span>42,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-20.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> زندگی مستقل </a>
									</div>
									<h2><a href="product-details.html"> درمان آب سرد یخ </a></h2>
									<div class="product-price">
										<span>54,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-4.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-4-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="red-2"> فروخته شد </span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> تجهیزات بیمارستان </a>
									</div>
									<h2><a href="product-details.html"> اسفنج های گاز 12 لایه ای </a></h2>
									<div class="product-price">
										<span class="new-price">7,000 تومن</span>
										<span class="old-price">10,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-21.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="hot red">-14%</span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> زندگی مستقل </a>
									</div>
									<h2><a href="product-details.html"> دستگاه تنفس اکسیژن </a></h2>
									<div class="product-price">
										<span class="new-price">298,000 تومن</span>
										<span class="old-price">346,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-22.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> زندگی مستقل </a>
									</div>
									<h2><a href="product-details.html"> اسکوتر تحرک چرخ </a></h2>
									<div class="product-price">
										<span class="new-price">220,000 تومن</span>
										<span class="old-price">266,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-23.jpg"
												alt="">
											<img class="hover-img" src="assets/images/product/product-23-2.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> تجهیزات بیمارستان </a>
									</div>
									<h2><a href="product-details.html"> صندلی حمل و نقل سبک </a></h2>
									<div class="product-price">
										<span>120,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-24.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="hot yellow">داغ</span>
										<span class="red">20%</span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> زندگی مستقل </a>
									</div>
									<h2><a href="product-details.html"> بخار ساز کلاسیک شخصی </a></h2>
									<div class="product-price">
										<span>75,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-12 col-sm-6">
							<div class="single-product-wrap mb-50">
								<div class="product-img-action-wrap mb-10">
									<div class="product-img product-img-zoom">
										<a href="product-details.html">
											<img class="default-img" src="assets/images/product/product-25.jpg"
												alt="">
										</a>
									</div>
									<div class="product-action-1">
										<button aria-label="افزودن به سبد خرید"><i
												class="far fa-shopping-bag"></i></button>
										<button aria-label="افزودن به علاقه مندی‌ها"><i
												class="far fa-heart"></i></button>
										<button aria-label="مقایسه"><i class="far fa-signal"></i></button>
									</div>
									<div class="product-badges product-badges-position product-badges-mrg">
										<span class="hot red-2"> فروخته شد </span>
									</div>
								</div>
								<div class="product-content-wrap">
									<div class="product-category">
										<a href="shop.html"> ماسک صورت </a>
									</div>
									<h2><a href="product-details.html"> ماسک کربن ضد ویروس </a></h2>
									<div class="product-price">
										<span>35,000 تومن</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="brand-logo-area pb-35">
		<div class="custom-container">
			<div class="section-title-1 section-title-hm2 mb-30">
				<h2> خرید با مارک </h2>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-1.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-2.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-3.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-4.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-5.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-6.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-7.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-8.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-9.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-10.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-11.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-6 col-sm-4">
					<div class="single-brand-logo mb-30">
						<a href="shop.html"><img src="assets/images/brand-logo/brand-logo-12.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	