
<div class="mobile-header-active mobile-header-wrapper-style">
	<div class="mobile-header-wrapper-inner">
		<div class="mobile-header-top">
			<div class="mobile-header-logo">
				<a routerLink="/"><img src="assets/images/logo/logo.png" alt="logo"></a>
			</div>
			<div class="mobile-menu-close close-style-wrap close-style-position-inherit" id="mobile_menu_close">
				<button class="close-style search-close">
					<i class="icon-top"></i>
					<i class="icon-bottom"></i>
				</button>
			</div>
		</div>
		<div class="mobile-header-content-area">
			<div class="mobile-search search-style-3 mobile-header-border">
				<form (submit)="submitSearch()">
					<input [(ngModel)]="searchPhrase" name="searchPhrase" type="text" placeholder="جستجو...">
					<button type="submit"> <i class="fa fa-search"></i> </button>
				</form>
			</div>
			<div class="mobile-menu-wrap mobile-header-border">
				<nav>
					<ul class="mobile-menu">
						<li><a routerLink="/">صفحه اصلی</a></li>

						<li class="menu-item-has-children"><a href="#">دسته بندی ها</a>
							<ul class="dropdown">
								<li *ngFor="let category of productCategories">
									<a [routerLink]="['/category/details/', category.slug.toString()]" class="cursor-pointer">
										{{category.title}} 
									</a>
								</li>
							</ul>
						</li>
						<li><a href="contact-us.html">ارتباط با ما</a></li>
					</ul>
				</nav>
			</div>
			<div class="mobile-header-info-wrap mobile-header-border">
				<div class="single-mobile-header-info">
					<a href="login-register.html"> ورود / ثبت نام</a>
				</div>
				<div class="single-mobile-header-info">
					<a href="#">0912000000</a>
				</div>
			</div>
		</div>
	</div>
</div>