<div class="blog-wrap-2 mb-30">
  <div class="blog-img-2">
    <a [routerLink]="'/blog/i/' + article.slug">
      <img [src]="baseArticlePath + article.imagePath" [alt]="article.imageAlt" [title]="article.imageTitle"
        class="blog-thumbnail-img">
    </a>
    <div class="blog-tag-2">
      <a [routerLink]="'/blog/category/' + article.categoryId"> {{article.category}} </a>
    </div>
  </div>
  <div class="blog-content-2">
    <div class="blog-meta-2">
      <ul>
        <li>
          <i class="las la-calendar-week"></i>
          {{ article.creationDate }}
        </li>
        <li>
          <i class="las la-eye"></i>
          453 بازدید
        </li>
      </ul>
    </div>
    <h3><a [routerLink]="'/blog/i/' + article.slug"> {{article.title }} </a></h3>
    <h5>{{article.summary}}</h5>
    <div class="blog-btn">
      <a [routerLink]="'/blog/i/' + article.slug"> ادامه مطلب <i class="las la-long-arrow-alt-left"></i></a>
    </div>
  </div>
</div>
