<div class="single-product-wrap" style="padding: 25px;">
  <div class="product-img-action-wrap mb-20">
    <div class="product-img product-img-zoom">
      <a [routerLink]="'/product/details/' + product.slug">
        <img class="default-img" [src]="baseProductPath + product.imagePath" [alt]="product.imageAlt"
          [title]="product.imageTitle">
        <img class="hover-img" [src]="baseProductPath + product.imagePath" [alt]="product.imageAlt"
          [title]="product.imageTitle">
      </a>
    </div>
    <div class="product-action-1">
      <button (click)="addToCart()" aria-label="افزودن به سبد خرید"><i class="las la-shopping-bag"></i></button>
      <button aria-label="افزودن به علاقه مندی‌ها"><i class="las la-heart"></i></button>
      <button aria-label="مقایسه"><i class="las la-signal"></i></button>
    </div>
    <div *ngIf="product.hasDiscount" class="product-badges product-badges-position product-badges-mrg">
      <span *ngIf="product.discountRate >= 50" class="hot red">{{ product.discountRate
        +
        '% تخفیف'}}</span>
      <span *ngIf="product.discountRate < 50" class="hot yellow">{{
        product.discountRate +
        '% تخفیف'}}</span>
    </div>
  </div>
  <div class="product-content-wrap">
    <div class="product-category">
      <a [routerLink]="['/category/details/', product.categorySlug]"> {{product.category}} </a>
    </div>
    <h2><a [routerLink]="'/product/details/' + product.slug"> {{product.title}} </a></h2>

    <div class="product-price" *ngIf="product.hasDiscount">
      <span class="new-price">{{product.priceWithDiscount + ' تومان '}}</span>
    </div>

    <div class="product-price" *ngIf="!product.hasDiscount">
      <span>{{product.price + 'تومان'}}</span>
    </div>
  </div>
</div>
